<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
<a href="index.html">
  <img src="../assets/img/slider/IntisaLogotipo.jpg" alt="Logotipo Intisa">
</a>  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

<!-- <a class="navbar-brand wow fadeInDownBig" href="index.html"><img class="office-logo" src="../assets/img/slider/IntisaOffice.png" alt="Intisa"></a> -->
<!-- <a class="navbar-brand" href="index.html"><img class="office-logo" src="../assets/img/slider/IntisaOffice.png" alt="Intisa"> -->
<!-- <div class="logo">
<a href="index.html">
  <img src="../assets/img/slider/IntisaLogotipo.jpg" alt="Logotipo Intisa">
</a> -->
 </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about.html">Sobre nosotros</a>
      </li>
      <li>
        <a href="/servicios.html">Servicios</a>
      </li>
      <li>
        <a href="/contact.html"><span>Contacto</span></a>
      </li>
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->
